<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shorts</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/8b134085b2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="col_1">
        <aside>
            <div class="bars">
                <a href="#" class="bars1"><i class="fa-solid fa-bars" style="color: #000000;"></i></a><br>
            </div>
    
            <div class="home">
                <a href="#" class="home1"><i class="fa-solid fa-house" style="color: #000000;"></i></a>
                <p class="homee">Home</p>
            </div>
            <div class="shorts">
                <a href="{{url_for('shorts')}}" class="shorts1"><i class="fa-brands fa-nfc-symbol" style="color: #000000;"></i></a>
                <p class="shortss">shorts</p>
            </div>
            <div class="sub">
                <a href="#" class="sub1"><i class="fa-brands fa-square-youtube" style="color: #000000;"></i></a>
                <p class="subb">Subscriptions</p>
               </div>
            <div class="lib">
                <a href="#" class="lib1"><i class="fa-regular fa-circle-play" style="color: #000000;"></i></a>
                <p class="libb">Library</p>
            </div>
        </aside>
    </div>

    <div class="col_11">
        <header>
            <a href="#" class="youtube"><i class="fa-brands fa-youtube" style="color: #ff0101;"></i></a>
            <a href="#"><img class="smurfs" src="../static/images/the-smurfs-characters-wallpaper-preview.jpg" alt="" height="50px" width="80px"></a>
            <form action="" method="post">
                <input type="search" class="searchbox1" placeholder="Search">
                <button type="submit"  class="search1"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></button>
            </form>
            <a href="#" class="mic"><i class="fa-solid fa-microphone" style="color: #000000;"></i></a>
            <a href="#" class="rec"><i class="fa-solid fa-video" style="color: #000000;"></i></a>
            <a href="#" class="bell"><i class="fa-regular fa-bell" style="color: #000000;"></i></a>
            <a href="#" class="profile">e</a>
        </header>
    </div>
</body>
</html>